<div id="layoutDefault_footer">
    <footer class="footer pt-10 pb-5 mt-auto bg-light footer-light">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-lg-2">
                    <div class="footer-brand">MetaBox</div>
                    <div class="mb-3">Tu servicio de courier por excelencia.</div>
                </div>
                <div class="col-lg-3">
                    <div class="footer-brand">Precios por flete</div>
                    <div class="mb-3">Precio Flete Aéreo:<br>
                        De 1 a 11 lbs la tarifa es $ 2.50<br>
                        De 11 lbs en adelante la tarifa es de $2.45<br>
                        Se cobrará lo que sea Mayor, peso o volumen.<br>
                       <br>
                        Tenemos el servicio Marítimo que sera con un valor mínimo de 50 Dolares</div>
                </div>
                
                
                <div class="col-lg-3">
                    <div class="footer-brand">CONTÁCTANOS</div>
                        <h3 class="page-header-ui-title">+507 6924-2817</h3>
                    
                    <div class="mb-3"><i data-feather="instagram"></i>  Instagram: @Metaboxpanama</div>
                    <div class="mb-3"><i data-feather="facebook"></i>  Facebook: Metabox Panamá</div>
            </div>
            <div class="col-lg-3">
                <img src="assets/logo.png.png" width="180" height="50">
        </div>
            <hr class="my-5" />
            <div class="row gx-5 align-items-center">
                <div class="col-md-6 small">Copyright &copy; Metabox Panamá 2022</div>
                <div class="col-md-6 text-md-end small">
                    <a href="#!">Privacy Policy</a>
                    &middot;
                    <a href="#!">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>