<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Metabox Panamá</title>
        <link rel="stylesheet" type="text/css" href="assets/fonts/material-icon/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="css/styles.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" href="assets/img/minicube.png">
        <script data-search-pseudo-elements defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js" crossorigin="anonymous"></script>
    </head>