<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
</head>
<body>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <main>
                <%- include('navbar.ejs'); %> 
                <!-- Page Header-->
                <header class="page-header-ui page-header-ui-dark bg-gradient-primary-to-secondary">
                    <div class="page-header-ui-content pt-5">
                        <div class="container px-5">
                            <div class="row gx-5 align-items-center">
                                <div class="col-lg-6" data-aos="fade-up">
                                    <h1 class="page-header-ui-title">¡Abre tu Casillero Completamente Gratis!</h1>
                                    <p class="page-header-ui-text mb-5">Realiza tus compras en internet y recíbe tus paquetes en Panamá de forma rápida y segura con Delivery Gratis.</p>
                                    <a class="btn btn-teal fw-500 me-2 font-size: 1.15rem" href="/register">
                                        Regístrate
                                        <i class="ms-2" data-feather="arrow-right"></i>
                                    </a>
                                    <a class="btn btn-link fw-500 font-size: 1.15rem" href="/login">Acceder</a>
                                </div>
                                <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="100"><img class="img-fluid" src="assets/img/transport.png" /></div>

                            </div>
                        </div>
                    </div>
                    <div class="svg-border-rounded text-white">
                        <!-- Rounded SVG Border-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                    </div>
                </header>
                <section class="bg-white py-10">
                    <div class="container px-5">
                        <div class="row gx-5 text-center">
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="at-sign"></i></div>
                                <h3>Notificaciones por Correo</h3>
                                <p class="mb-0">Enviamos correos cuando tu carga llega a nuestra bodega en Miami y cuando llega a Panamá. Asegúrate de revisar tu correo de spam y promociones.</p>
                            </div>
                            <div class="col-lg-4 mb-5 mb-lg-0">
                                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="truck"></i></div>
                                <h3>Delivery Gratis</h3>
                                <p class="mb-0">Llevamos el pedido a la puerta de tu casa sin coste adicional.</p>
                            </div>
                            <div class="col-lg-4">
                                <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><i data-feather="mail"></i></div>
                                <h3>Servicio al Cliente</h3>
                                <p class="mb-0">Servicio al cliente para resolver cualquier tipo de duda en Whatsapp y Correo electrónico. </p>
                                    <p class="mb-0">Estamos disponibles de Lunes a Viernes de 8:00 am a 5:00pm y Sábados de 8:00 am a 1:00 pm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="svg-border-rounded text-light">
                        <!-- Rounded SVG Border-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                    </div>
                </section>
                <section class="bg-light py-10">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center justify-content-center">
                            <div class="col-md-9 col-lg-6 order-1 order-lg-0" data-aos="fade-right">
                                <div class="content-skewed content-skewed-right"><img class="img-fluid" src="assets/img/men.png" /></div>
                            </div>
                            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0" data-aos="fade-left">
                                <div class="mb-5">
                                    <h3 style="font-size: 35px">Conoce quiénes somos</h3>
                                    <p class="lead">Somos una empresa de Logística, Importa y Exporta. Nosotros hacemos que sea sencillo comprar en los Estados Unidos, asegurando que sus paquetes lleguen en forma rápida
                                        y segura a nuestras oficinas para llevárselas a su residencia o lugar de preferencia. Si usted no tiene una tarjeta de crédito, o no quiere utilizar la suya. MetaBox Panamá le ofrece la posibilidad de poder comprar en los Estados Unidos, Inscríbete Aquí.

                                        Hoy en día, las grandes tiendas online venden más que los locales físicos o los centros comerciales, porque no hay nada más sencillo que comprar por Internet. Es rápido, es fácil, te llega a casa u oficina no tienes que moverte, para recibir tus compras. Visita nuestras oficinas realiza tus compras sin tarjetas de crédito al mejor costo.
                                    
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr class="m-0" />
                <section class="bg-light pt-10">
                    <div class="svg-border-rounded text-dark">
                        <!-- Rounded SVG Border-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                    </div>
                </section>
                <section class="bg-dark py-10" id="Questions">
                    <div class="container px-5">
                        <div class="row gx-5 my-10">
                            <div class="col-lg-6 mb-5">
                                <div class="d-flex h-100">
                                    <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                                    <div class="ms-4">
                                        <h5 class="text-white">Puedo comprar sin tarjeta de crédito?</h5>
                                        <p class="text-white-50">Claro, no te preocupes. Nosotros te ofrecemos una tarjeta de crédito virtual para que puedas hacer tus compras en línea de manera segura y rápida.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-5">
                                <div class="d-flex h-100">
                                    <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                                    <div class="ms-4">
                                        <h5 class="text-white">Cómo puedo contactarlos?</h5>
                                        <p class="text-white-50">Puedes visitar nuestras oficinas, escribirnos un correo a metaboxpanama@gmail.com o también escribirnos por whatsapp al +507 6924-2817.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-5 mb-lg-0">
                                <div class="d-flex h-100">
                                    <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                                    <div class="ms-4">
                                        <h5 class="text-white">Qué dirección debo poner a la hora de hacer un pedido?</h5>
                                        <p class="text-white-50">Tu dirección la podras ver en tu panel de usuario al acceder con tu correo y contraseña o también puedes revisar tu correo, donde será enviada una vez te registres con nosotros.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex h-100">
                                    <div class="icon-stack flex-shrink-0 bg-teal text-white"><i class="fas fa-question"></i></div>
                                    <div class="ms-4">
                                        <h5 class="text-white">Cómo abro mi casillero?</h5>
                                        <p class="text-white-50">Es muy fácil y gratis, solo regístrate en nuestra página y estarás listo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row gx-5 justify-content-center text-center">
                            <div class="col-lg-8">
                                
                                <h3 class="text-white">Abre tu casilero completamente gratis.</h3>
                                <p class="lead text-white-50 mb-5">Empieza a hacer tus compras por internet y recíbelas en Panamá de manera segura y rápida.</p>
                                <a class="btn btn-teal fw-500" href="/register">Regístrate con nosotros.</a>
                            </div>
                        </div>
                    </div>
                    <div class="svg-border-rounded text-white">
                        <!-- Rounded SVG Border-->
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
                    </div>
                </section>
                <hr class="m-0" />
            </main>
        </div>
        <%- include('footer.ejs')%>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true,
        });
    </script>
</body>
</html>