    <!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs'); %>
</head>
    <body>
        <div id="layoutDefault">
            <div id="layoutDefault_content">
                <main>
                    <!-- Navbar-->
                    <%- include('navbar.ejs'); %> 
                </main>
                <div class="main">

                    <!-- Sign up form -->
                    <section class="signup">
                        <div class="contenedor">
                            <div class="signup-content">
                                <div class="signup-form">
                                    <h2 class="form-title">Regístrate</h2>
                                    <form action ="/register" method="POST" class="register" id="register-form" novalidate>
                                        <div class="form-group">
                                            <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                            <input type="text" name="name" id="name" placeholder="Nombre"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="lastname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                            <input type="text" name="lastname" id="lastname" placeholder="Apellido"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                                            <input type="email" name="email" id="email" placeholder="Correo electrónico"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                            <input type="password" name="password" id="password" placeholder="Contraseña"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                            <input type="password" name="re_pass" id="re_pass" placeholder="Repite tu contraseña"/>
                                        </div>
                                        <div class="form-group form-button">
                                            <input type="submit" name="signup" id="signup" class="form-submit" value="Crea tu cuenta"/>
                                        </div>
                                        <div class="form-group form-button">
                                            <a href="/login">¿Ya tienes una cuenta? Ingresa</a>
                                        </div>
                                        <% if (errorMessage) {%>
                                            <span id="error" style='color: red'><%=errorMessage%></span>
                                            <%}%>
                                    </form>
                                    
                                </div>
                                <div class="signup-image">
                                    <figure><img src="assets/ad.jpg" class="img-fluid" alt="sing up image"></figure>
                                </div>
                               
                            </div>
                            
                        </div>
                    </section>
                </div>
            </div>
            <%- include('footer.ejs'); %> 
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({
                disable: 'mobile',
                duration: 600,
                once: true,
            });
        </script>
        <script src="js/main.js"></script>
    </body>
</html>